.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    color: black;
  }
  
  .navbar-logo a {
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 1rem;
   
    flex-wrap: wrap;
  }
  
  .navbar-list li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    
    margin: 10px;
  }
  
  .navbar-button button {
    padding:10px 30px ;
    border: none;
    background-color: rgb(106, 90, 205);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50px;
    font-family: Outfit;
  }
  
  .navbar-button button:hover {
    background-color: rgb(123, 104, 238);
  }

  .navbar-list li a.active {
    
    color:black;
    font-weight: bold;
  }